<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vpis.schedule.dao.order.OrderDao" >
  <resultMap id="BaseResultMap" type="com.vpis.common.entity.order.Order" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="product_amount_total" property="productAmountTotal" jdbcType="DECIMAL" />
    <result column="order_amount_total" property="orderAmountTotal" jdbcType="DECIMAL" />
    <result column="price_unit" property="priceUnit" jdbcType="VARCHAR" />
    <result column="payment_order_no" property="paymentOrderNo" jdbcType="VARCHAR" />
    <result column="street" property="street" jdbcType="VARCHAR" />
    <result column="phone_number" property="phoneNumber" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="TINYINT" />
    <result column="pay_channel" property="payChannel" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="provider_id" property="providerId" jdbcType="BIGINT" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="BIT" />
    <result column="payment_config_info" property="paymentConfigInfo" jdbcType="VARCHAR" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="update_date_time" property="updateDateTime" jdbcType="TIMESTAMP" />
    <result column="deleted" property="deleted" jdbcType="BIT" />
    <result column="version" property="version" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_no, product_amount_total, order_amount_total, price_unit, payment_order_no, 
    street, phone_number, name, order_type, pay_channel, pay_time, user_id, provider_id, 
    mark, order_status, payment_config_info, create_date_time, update_date_time, deleted, 
    version
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from `order`
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vpis.common.entity.order.Order" >
    insert into order (id, order_no, product_amount_total, 
      order_amount_total, price_unit, payment_order_no, 
      street, phone_number, name, 
      order_type, pay_channel, pay_time, 
      user_id, provider_id, mark, 
      order_status, payment_config_info, create_date_time, 
      update_date_time, deleted, version
      )
    values (#{id,jdbcType=BIGINT}, #{orderNo,jdbcType=VARCHAR}, #{productAmountTotal,jdbcType=DECIMAL}, 
      #{orderAmountTotal,jdbcType=DECIMAL}, #{priceUnit,jdbcType=VARCHAR}, #{paymentOrderNo,jdbcType=VARCHAR}, 
      #{street,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{orderType,jdbcType=TINYINT}, #{payChannel,jdbcType=VARCHAR}, #{payTime,jdbcType=TIMESTAMP}, 
      #{userId,jdbcType=BIGINT}, #{providerId,jdbcType=BIGINT}, #{mark,jdbcType=VARCHAR}, 
      #{orderStatus,jdbcType=BIT}, #{paymentConfigInfo,jdbcType=VARCHAR}, #{createDateTime,jdbcType=TIMESTAMP}, 
      #{updateDateTime,jdbcType=TIMESTAMP}, #{deleted,jdbcType=BIT}, #{version,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.vpis.common.entity.order.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="productAmountTotal != null" >
        product_amount_total,
      </if>
      <if test="orderAmountTotal != null" >
        order_amount_total,
      </if>
      <if test="priceUnit != null" >
        price_unit,
      </if>
      <if test="paymentOrderNo != null" >
        payment_order_no,
      </if>
      <if test="street != null" >
        street,
      </if>
      <if test="phoneNumber != null" >
        phone_number,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="payChannel != null" >
        pay_channel,
      </if>
      <if test="payTime != null" >
        pay_time,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="providerId != null" >
        provider_id,
      </if>
      <if test="mark != null" >
        mark,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="paymentConfigInfo != null" >
        payment_config_info,
      </if>
      <if test="createDateTime != null" >
        create_date_time,
      </if>
      <if test="updateDateTime != null" >
        update_date_time,
      </if>
      <if test="deleted != null" >
        deleted,
      </if>
      <if test="version != null" >
        version,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productAmountTotal != null" >
        #{productAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderAmountTotal != null" >
        #{orderAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="priceUnit != null" >
        #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="paymentOrderNo != null" >
        #{paymentOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        #{street,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="payChannel != null" >
        #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="providerId != null" >
        #{providerId,jdbcType=BIGINT},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=BIT},
      </if>
      <if test="paymentConfigInfo != null" >
        #{paymentConfigInfo,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDateTime != null" >
        #{updateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null" >
        #{version,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.vpis.common.entity.order.Order" >
    update order
    <set >
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="productAmountTotal != null" >
        product_amount_total = #{productAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderAmountTotal != null" >
        order_amount_total = #{orderAmountTotal,jdbcType=DECIMAL},
      </if>
      <if test="priceUnit != null" >
        price_unit = #{priceUnit,jdbcType=VARCHAR},
      </if>
      <if test="paymentOrderNo != null" >
        payment_order_no = #{paymentOrderNo,jdbcType=VARCHAR},
      </if>
      <if test="street != null" >
        street = #{street,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null" >
        phone_number = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="payChannel != null" >
        pay_channel = #{payChannel,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="providerId != null" >
        provider_id = #{providerId,jdbcType=BIGINT},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=BIT},
      </if>
      <if test="paymentConfigInfo != null" >
        payment_config_info = #{paymentConfigInfo,jdbcType=VARCHAR},
      </if>
      <if test="createDateTime != null" >
        create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDateTime != null" >
        update_date_time = #{updateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null" >
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.vpis.common.entity.order.Order" >
    update order
    set order_no = #{orderNo,jdbcType=VARCHAR},
      product_amount_total = #{productAmountTotal,jdbcType=DECIMAL},
      order_amount_total = #{orderAmountTotal,jdbcType=DECIMAL},
      price_unit = #{priceUnit,jdbcType=VARCHAR},
      payment_order_no = #{paymentOrderNo,jdbcType=VARCHAR},
      street = #{street,jdbcType=VARCHAR},
      phone_number = #{phoneNumber,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=TINYINT},
      pay_channel = #{payChannel,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP},
      user_id = #{userId,jdbcType=BIGINT},
      provider_id = #{providerId,jdbcType=BIGINT},
      mark = #{mark,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=BIT},
      payment_config_info = #{paymentConfigInfo,jdbcType=VARCHAR},
      create_date_time = #{createDateTime,jdbcType=TIMESTAMP},
      update_date_time = #{updateDateTime,jdbcType=TIMESTAMP},
      deleted = #{deleted,jdbcType=BIT},
      version = #{version,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>